body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 1.1;
    color: #014652;
}

/* Google Fonts */
.caveat-static {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.rubik-mono-one-regular {
    font-family: "Rubik Mono One", monospace;
    font-weight: 400;
    font-style: normal;
}


h1,
h2,
h3,
h4,
h5,
h6,
p {
    line-height: 1.1;
    margin: 1rem 0;
}

h1 {
    font-family: "Rubik Mono One", monospace;
    font-size: 5rem;
    font-weight: 600;
    color: #ffd080;
}

h2 {
    font-family: "Caveat", cursive;
    font-size: 3rem;
    font-weight: 500;
}

h3 {

    font-size: 2rem;
    font-weight: 500;
    color:#7b1e09;
}

h4, h5, h6 {
  font-size: 1.75rem;
}

p, nav {
  font-size: 1.25rem;
  line-height: 1.5;
  color: #014652;
}

p.paragraph {
  color: #7D5C36;
}

li a {
    font-size: 1rem;
}

a.button {
  padding: 0.5rem 1rem;
  border: 1px outset #ffd080;
  border-radius: 3px;
  color: #7D5C36;
  background-color: #fbf0ca;
  text-decoration: none;
  font-family: "Bagel Fat One", system ui;
  font-size: 2.5rem;
  font-weight: 500;
}

a.links {
  color: #014652;
  cursor: pointer;
}
a.links:hover {
  padding: 0.1rem;
  background-color: #014652;
  color: #ffd080; 
}

button.accordion {
  font-size: 1rem;
  font-weight: 500;
}
  
