body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.1;
  color: #6d5636;
}

/* Google Fonts */
.caveat-static {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.rubik-mono-one-regular {
  font-family: "Rubik Mono One", monospace;
  font-weight: 400;
  font-style: normal;
}


h1,
h2,
h3,
h4,
h5,
h6,
p {
  line-height: 1.1;
  margin: 1rem 0;
}

h1 {
  font-family: "Rubik Mono One", monospace;
  font-size: 5rem;
  font-weight: 600;
  color: #e8b921;
}

h2 {
  font-family: "Caveat", cursive;
  font-size: 3rem;
  font-weight: 500;
  text-align: center;
}

.red-title {
  color: #741a25;
}

h3 {
  font-size: 2rem;
  font-weight: 500;
}

h4, h5, h6 {
  font-size: 1.75rem;
}

.hero-text p {
  background-color: #6d5636;
}

p, nav {
  font-size: 1.25rem;
  line-height: 1.5;
  color: white;
}

p.paragraph {
  color: #7D5C36;
}

li a {
  font-size: 1rem;
}

button.accordion {
  font-size: 1rem;
  font-weight: 500;
}

.footer h4 {
  font-size: 1rem;
}

.footer p {
  color: black;
  text-align: center;
}

#currentyear {
  font-size: x-small;
}

